# autoupdate is a GitHub Action that auto-updates pull requests branches whenever changes land on their destination branch.
name: autoupdate
on:
  # This will trigger on all pushes to all branches
  push: {}
jobs:
  autoupdate:
    name: autoupdate
    runs-on: ubuntu-18.04
    steps:
      - uses: docker://chinthakagodawita/autoupdate-action:v1
        env:
          GITHUB_TOKEN: "${{ secrets.PAT }}"
          DRY_RUN: "false"
          PR_FILTER: "protected"
          MERGE_MSG: ""
          RETRY_COUNT: "5"
          RETRY_SLEEP: "300"
          MERGE_CONFLICT_ACTION: "ignore"
