# autoupdate is a GitHub Action that auto-updates pull requests branches whenever changes land on their destination branch.
name: hello world
on:
  # This will trigger on all pushes to all branches
  push: {}
jobs:
  hello-world:
    name: autoupdate
    runs-on: ubuntu-18.04
    steps:
      - uses: actions/checkout@v2
      - name: Run a one-line script
        run: echo Hello, world!
